<footer>
    <div class="footer-links">
        <div class="section">
            <p class="title">Разделы</p>
            <p >Акции</p>
            <p >Облигации</p>
        </div>
        <div class="section">
            <p class="title">Веб-сайт</p>
            <p>Вход</p>
            <p>Вопрос-ответы</p>
        </div>
        <div class="section">
            <p class="title">О нас</p>
            <p >Связаться с нами</p>
            <p >Связаться с нами</p>
        </div>
        <div class="section">
            <p class="title">Будьте в курсе изменений</p>
            <p>Подпишитесь и получайте новости каждый день!</p>
            <input type="email" placeholder="Введите ваш email">
            <button>Подписаться</button>
        </div>
    </div>
    <nz-divider></nz-divider>
    <div class="footer-info">
        © 2024 Все права защищены.
    </div>
    <nz-divider></nz-divider>
    <div style="text-align: center">
        Котировки в режиме реального времени предоставляются AlphaVantage. Другие данные могут быть представлены с задержкой на 15 минут и более.
    </div>
</footer>

