<div  nz-row class="site-page-header-ghost-wrapper" >
        <div  nz-col [nzSpan]="18" [nzPush]="2" >
        <nz-page-header-title>
            <img ngSrc="./assets/img.png" alt="Logo" class="logo" height="80" width="80">
            M&A Analytics
        </nz-page-header-title>
        </div>
    <div nz-col [nzSpan]="6" [nzPush]="24">
                <nz-page-header-title>Главная</nz-page-header-title>
                <nz-page-header-title>О нас</nz-page-header-title>
                <nz-page-header-title>Контакты</nz-page-header-title>
    </div>
</div>
