.logo{
  width:40px;
  height: 40px;
}
.custom-page-header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}
.site-page-header-ghost-wrapper{
  width: 600px  ;
  padding-left: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
}
