<app-header></app-header>
<div class="container-main">
<div>
    <div>
        <h1>Добро пожаловать на M&A Analytics! </h1>
        <h3>Вашего надежного помощника в мире финансовых инвестиций!</h3>
        <p>Здесь, в M&A Analytics, мы предоставляем профессиональные и глубокие аналитические
            обзоры рынка акций и облигаций.</p>
        <p> Наша цель – помочь вам сделать обоснованные и эффективные инвестиционные решения.</p>
    </div>
    <div>
        <button nz-button  nzShape="round" >
            <span nz-icon ></span>
            Download
        </button>
    </div>
    <nz-divider></nz-divider>
</div>
    <div >
        <p> Добро пожаловать в M&A Analytics — вашего надежного проводника в мире финансовых инвестиций.</p>
        <p>С нашей командой вы всегда будете в курсе актуальных событий на рынке акций и облигаций.</p>
        <p> Наша миссия — предоставлять вам точные данные для умных инвестиционных решений.</p>
        <p>У нас вы найдете:</p>
        <p>• Глубокий анализ и ежедневные рыночные обновления.</p>
        <p>• Персональные консультации и индивидуальные инвестиционные стратегии.</p>
        <p>• Непрерывное отслеживание рынка для предоставления самых свежих данных.</p>
        <p>• Достоверные прогнозы, основанные на продвинутых методах анализа.</p>
        <p>Присоединяйтесь к M&A Analytics и воспользуйтесь нашими услугами для достижения ваших инвестиционных целей.
            Свяжитесь с нами или подпишитесь, чтобы всегда быть в курсе важнейших рыночных новостей.</p>
    </div>
    <nz-divider></nz-divider>
</div>
<app-footer></app-footer>






